$banner-image: "/media/images/banner-bg-2.jpg";
$events-bg: "/media/images/events-bg.jpg";
// Global component  style starts
.loader {
  position: fixed;
  transition: 0.5s ease;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $light-pink;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  .heart:before,
  .heart:after {
    position: absolute;
    content: "";
    left: 25px;
    top: 0;
    width: 25px;
    height: 40px;
    background: $primary;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  .heart {
    width: 50px;
    height: 45px;
    display: inline-block;
    opacity: 0.8;

    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .heart:before,
  .heart:after {
    background: $primary;
  }
  .heart1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  .heart2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.gototop-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  cursor: pointer;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $light-pink;
  flex-flow: column;
  z-index: 9999;

  .welcome-content {
    z-index: 10;
  }
  .heart-wrapper {
    opacity: 0.5;
  }
}
// Hlobal component  style ends
/*--- ``Header style starts ---*/
header {
  transition: 0.3s ease;
  z-index: 99;
  &.sticky {
    background: $black;
  }
}
.logo {
  max-width: 70px;
}
.nav-link {
  padding: 0 10px;
  font-size: 14px;
  color: rgba($white, 0.5);
  transition: 0.3s ease;
  text-decoration: none;
  &.active,
  &:hover {
    color: $white;
  }
}

// hamburger menu animation style starts

.hamburger {
  position: relative;
  z-index: 3;
  .line {
    width: 32px;
    height: 2px;
    background-color: #ecf0f1;
    display: block;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    cursor: pointer;
  }

  &.active {
    .line {
      &:nth-child(1) {
        -webkit-transform: translateY(7px) rotate(45deg);
        -ms-transform: translateY(7px) rotate(45deg);
        -o-transform: translateY(7px) rotate(45deg);
        transform: translateY(7px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        -webkit-transform: translateY(-7px) rotate(-45deg);
        -ms-transform: translateY(-7px) rotate(-45deg);
        -o-transform: translateY(-7px) rotate(-45deg);
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }
}

// hamburger menu animation style ends

.menu {
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-content: center;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  background: $black;
  z-index: 2;
  -webkit-transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);

  transform: translate(100%);
  .nav-link {
    font-size: 40px;
  }
  &.active {
    transform: translate(0%);
  }
}

/*--- / Header style ends ---*/

/*--- ``Banner style starts ---*/

.banner {
  position: relative;
  // background: url($banner-image);
  height: 900px;
  flex-flow: column;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  .overlay {
    opacity: 0.5;
  }
  .banner-title {
    font-size: 67px;
  }
  .banner-date {
    font-size: 47px;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    border-top: medium double #fff;
    border-bottom: medium double #fff;
    padding: 10px 50px;
  }
  button {
    line-height: 1.5;
  }
}
.banner-content {
  text-align: center;
}

// ``Heart effect style starts
.hearts-wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.heart {
  &.x1 {
    left: 5%;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.6;
    -webkit-animation: moveclouds 15s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
  }

  &.x2 {
    left: 25%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.9;
    -webkit-animation: moveclouds 25s linear infinite,
      sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite,
      sideWays 5s ease-in-out infinite alternate;
  }
  &.x3 {
    left: 55%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    -webkit-animation: moveclouds 20s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
  }
  &.x4 {
    left: 72%;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.9;
    -webkit-animation: moveclouds 18s linear infinite,
      sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite,
      sideWays 0zs ease-in-out infinite alternate;
  }
  &.x5 {
    left: 88%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 7s linear infinite,
      sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite,
      sideWays 1s ease-in-out infinite alternate;
  }
  &.x6 {
    left: 33%;
    opacity: 1;
    -webkit-animation: moveclouds 2s linear infinite,
      swayWays 1s ease-in-out infinite alternate;
    animation: moveclouds 10s linear infinite,
      swayWays 9s ease-in-out infinite alternate;
  }
}

.heart-2 {
  &.x1 {
    left: 15%;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.6;
    animation: moveclouds-2 15s linear infinite,
      sideWays 4s ease-in-out infinite alternate;
  }

  &.x2 {
    left: 35%;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.9;
    animation: moveclouds-2 25s linear infinite,
      sideWays 5s ease-in-out infinite alternate;
  }
  &.x3 {
    left: 65%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    animation: moveclouds-2 20s linear infinite,
      sideWays-2 4s ease-in-out infinite alternate;
  }
  &.x4 {
    left: 82%;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.9;
    animation: moveclouds-2 18s linear infinite,
      sideWays-2 0s ease-in-out infinite alternate;
  }
  &.x5 {
    left: 8%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    animation: moveclouds-2 7s linear infinite,
      sideWays-2 1s ease-in-out infinite alternate;
  }
  &.x6 {
    left: 30%;
    opacity: 1;
    animation: moveclouds-2 10s linear infinite,
      swayWays-2 9s ease-in-out infinite alternate;
  }
}
@keyframes moveclouds {
  0% {
    top: 100%;
  }
  100% {
    top: -100px;
  }
}

@keyframes moveclouds-2 {
  0% {
    top: 150%;
  }
  100% {
    top: -200px;
  }
}
@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
@keyframes sideWays-2 {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 70px;
  }
}

.altheart {
  background: url(http://static.indigoimages.ca/2016/shop/113439_img25_twotoneheart.png)
    no-repeat center;
  width: 24px;
  height: 21px;
  position: relative;
  display: block;
}

.heart,
.heart-2 {
  position: relative;
}
.heart:before,
.heart:after,
.heart-2:after,
.heart-2:before {
  position: absolute;
  content: "";
  left: 18px;
  top: 0;
  width: 18px;
  height: 30px;
  -moz-border-radius: 20px 50% 0 0;
  border-radius: 30px 30px 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.heart:before,
.heart:after {
  background: #cc2022;
}

.heart-2:before,
.heart-2:after {
  background: #f59393;
}
.heart:after,
.heart-2:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
// ``Heart effect style ends

// ``count down starts
.count-down-container {
  color: white;
  // height: 80vh;
}

.count-down-circle {
  background-color: rgba($primary, 0.8);
  display: inline-flex;
  width: 140px;
  height: 140px;
  margin: 0 16px 8px 16px;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .count {
    font-size: 30px;
  }
  .unit {
    color: rgba($white, 0.7);
    text-transform: uppercase;
    font-size: 12px;
  }
}
.pulse {
  animation: pulse 1s ease infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
// / Count down ends

/*--- /``Banner style ends ---*/

/* --- ``Invitation style starts */

.heart-container {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.couple {
  h3 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .couple-img {
    width: 150px;
    height: 150px;
  }
}
/* --- ``Invitation style ends */

/* --- ``Events style starts */

.events {
  background-image: url($events-bg);
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    margin-bottom: 100px;
  }
}
.event-card {
  border: 2px solid rgba($white, 0.5);
  background: rgba($white, 0.1);
  padding: 30px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 30px;
  .event-card-heading {
    font-size: 20px;
    border-bottom: 1px solid rgba($white, 0.5);
    display: block;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    line-height: 1.1;
  }
  .fas {
    font-size: 20px;
  }
  .event-time {
    line-height: 1.7;

    span {
      font-size: 16px;
      color: rgba($white, 0.8);
    }
  }
  p {
    margin-top: 30px;
    color: rgba($white, 0.8);
  }
}

/* --- ``Events style ends */

/* --- ``Story timeline style start */

.storytimeline {
  &:before {
    content: "";
    height: 100%;
    position: absolute;
    left: 50%;
    border: 2px solid rgba($theme-color-two, 0.8);
    border-style: dashed;
    width: 2px;
    height: 100%;
  }
  .storytimeline-list {
    & + .storytimeline-list {
      margin-top: 146px;
    }

    @media (max-width: 991px) {
      .time-line-image-container {
        order: 1;
      }

      .storytimeline-list-content {
        order: 2;
        text-align: center;
        background-color: $white;
        z-index: 1;
      }
    }

    @media (min-width: 992px) {
      &:nth-child(2n - 1) {
        text-align: right;

        .storytimeline-list-box {
          // padding-right: 32px;

          .storytimeline-list-content {
            order: 1;
            text-align: right;
          }

          .storytimeline-list-img-wrapper {
            right: -75px;
            order: 2;
          }
        }
      }
      &:nth-child(2n) {
        .storytimeline-list-box {
          // padding-left: 32px;
          margin-left: auto;

          .storytimeline-list-content {
            order: 2;
            text-align: left;
          }

          .storytimeline-list-img-wrapper {
            order: 1;
            left: -75px;
          }
        }
      }
    }
  }
}

/* --- ``Story timeline style ends */

/* --- ``Thankyou  style start */
.thank-you {
  // height: 80vh;
  // background: url("/media/images/banner-bg-2.jpg");
  // background-size: cover;

  .thank-you-message {
    line-height: 0.7;
  }
}

/* --- ``Thankyou  style end */

////////// responsive style //////////
@media (max-width: 992px) {
  .banner {
    h1 {
      font-size: 70px;
    }
  }
}
@media (max-width: 768px) {
  .banner {
    h1 {
      font-size: 40px;
    }
  }
}

@media (max-width: 576px) {
  .banner {
    h1 {
      font-size: 37px;
    }
    p {
      font-size: 16px;
    }
  }

  .couple:nth-child(1) {
    flex-flow: column-reverse;
  }

  .couple:nth-child(2) {
    flex-flow: column;
  }
  .events {
    h1 {
      margin-bottom: 40px;
    }
  }
}
