.primary-text {
  color: $primary;
}
.secondary-text {
  color: #828282;
}

.theme-text-one {
  color: #6350f1;
}

.text-off-white {
  color: rgba($white, 0.5);
}

.primary-bg {
  background-color: $primary;
}

// typography
